<div id="<%= dom_id reservation %>">
  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Flight:</strong>
    <%= reservation.flight_id %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= reservation.count %>
  </p>

</div>
