<p style="color: green"><%= notice %></p>

<h1 class="titrePage">Reservations</h1>

<div id="reservations">
  <% @reservations.each do |reservation| %>
    <%= render reservation %>
    <div class="form-group mt-3">
      <%= link_to "Plus de détails", reservation , class:"btn btn-block btn-primary btn-lg"%>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  <% end %>
</div>

