/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: "Montserrat-Alt1";
    font-weight: 600;
}

.menu {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 1rem;
    background-color:#281842;
    margin: 0;
}

.menu li:last-child{
    margin-right: 30px;
}
body{
    margin: 0;
}

header{
    top: 0;
    position: fixed;
    width: 100%;
}

.logo{
    font-family: 'Montserrat-Alt1', serif;
    font-weight: 600;
    font-size: 2em;
    color: white !important;
    text-decoration: none;
}

.logo a {
    color: white;
    text-decoration: none;
}

.menu li{
    margin: 5px;
}


.buttonMenu{
    display: inline-block;
    background-color: white;
    color: #281842;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.buttonMenu:hover {
    background-color: #5f428f;
    color: white;
}

.buttonMenu:active {
    background-color: #5f428f;
    color: white;
}

.Intro{
    min-height: 100vh;
    background: #281842;
}
.page-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
}

.table td:last-child {
    text-align: center;
}
.logoImage{
    background: url("logo.jpg");
    background-size: cover;
    height: 53px;
    width: 60px;
}